.Products img{ 
    width: 240px;
    height:240px;
    border-radius: 8px;
    display: block;
    margin: 5px auto;
}
.Products{
    width:250px;
    height: 460px;
    border:1px solid #95A0A7;
    border-radius: 8px;
    position: relative;
}
.product-name{
    margin-top: 0px;
    width: 86%;
    font-size: 16px;
    margin-left: 10px;
}
.price{
    margin-top: -16px;
    font-size: 16px;
    margin-left: 10px;
    font-weight: bold;
}
.rating{
    margin-left: 10px;
    font-size: 14px;
    padding-top: 6px;
    display: block;
}
.seller{
    margin-left: 10px;
    font-size: 14px;
}
.Cart-Button{
        width: 250px;
        background-color: #FFE0B3!important;
        border-top-left-radius: 0%;
        border-top-right-radius: 0%;
        position:absolute;
        right:0;
        left:0;
        bottom:0;

}